{% extends 'base.html' %}
{% block body %}

    <div class="container">
        <h1>Update your ToDo</h1>
        <form action='/update/{{todo.sno}}' method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">ToDo Title</label>
              <input type="text" class="form-control" name="title" id="title" value="{{todo.title}}" aria-describedby="emailHelp">
              <!-- Provided a default value to it, fetched by the previous page so that we can edit the already existing content-->
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">Description</label>
              <input type="text" class="form-control" value="{{todo.desc}}" name="desc" id="desc">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>    
    <div>

{% endblock body %}